@charset "UTF-8";
/* Globalt stilark - Alt i denne filen er felles for alle nettstedets sider. */
@import url("https://use.typekit.net/nvi4ogw.css");
/*Importerer fonter lisensert til Adobe Fonts*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: inherit;
  width: 100%;
}

#helesiden {
  /*Klasse for sidens innhold, inkluderer header men ikke footer.*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ca3f44), to(#e98051));
  background: linear-gradient(to top, #ca3f44, #e98051);
  /* Vertikal overgang fra orange til rød nedover siden. */
  z-index: -10;
}

.sidenavbutton {
  position: fixed;
  display: none;
  color: white;
  top: 30px;
  right: 4vw;
  z-index: 10;
}

@media screen and (max-width: 1000px) {
  .sidenavbutton {
    display: inline;
  }
}

@media screen and (max-width: 570px) {
  .sidenavbutton {
    top: 20px;
  }
}

.sidenavbutton #sidenavbuttonIcon {
  font-size: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 570px) {
  .sidenavbutton #sidenavbuttonIcon {
    font-size: 1.5em;
  }
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: #f7d15a;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  font-family: acumin-pro-semi-condensed, sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: white;
}

.sidenav ul li {
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidenav ul li a {
  text-decoration: none;
  color: white;
}

.sidenav ul li a:hover {
  color: #ca3f44;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*  - Header -    */
header {
  padding: 17px 9px;
  position: -webkit-sticky;
  position: sticky;
  /* Fester header til toppen av viewport når man har scrollet ned til den.*/
  top: 0;
  height: 60px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 5;
  /* Sørger for at header ligger foran alle andre elementer. */
}

@media screen and (max-width: 570px) {
  header {
    padding: 1vh 1vw;
  }
}

header:not(.scrollHeader) {
  background-color: #e98051;
}

header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 12px;
}

#hovedlogo {
  margin-top: -25px;
  -webkit-animation: rotation 2s infinite linear;
          animation: rotation 2s infinite linear;
}

#hovedlogo:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@media screen and (max-width: 570px) {
  #hovedlogo {
    display: none;
  }
}

@-webkit-keyframes rotation {
  /* Keyframes til rotasjon animasjon */
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes rotation {
  /* Keyframes til rotasjon animasjon */
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

#hovedtittel {
  font-family: acumin-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  font-size: 2.5em;
}

@media screen and (max-width: 570px) {
  #hovedtittel {
    font-size: 1.7em;
  }
}

#hovedtittel:hover {
  /* Shine effekt på logo ved hover */
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  /* Keyframes til shine effekt*/
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.toppmeny {
  float: right;
  list-style-type: none;
  margin: 0 1vw;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 800;
}

.toppmeny li {
  float: left;
}

.toppmeny li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 2px;
}

.toppmeny li a:hover:not(.active) {
  /* Endrer farge på knapp så fremt det ikke er den aktive siden.*/
  background-color: #f7d15a;
  color: black;
  border-bottom: 3px solid #47c2a9;
}

.toppmeny li.mobile {
  display: none;
}

.toppmeny li .active {
  /* Setter farge på knapp hvis siden er aktiv*/
  background-color: #47c2a9;
  border-bottom: 3px solid #f7d15a;
}

@media screen and (max-width: 1000px) {
  .toppmeny li:not(.mobile) {
    display: none;
  }
  .toppmeny li.mobile {
    display: inline;
  }
}

@media screen and (max-width: 900px) {
  .toppmeny li a {
    float: none;
    display: block;
    text-align: left;
  }
  /*.header-right {
      float: none;
    }*/
}

.account-nav {
  position: static;
  background-color: #f7d15a;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

@media screen and (max-width: 1000px) {
  .account-nav {
    display: none;
  }
}

.account-nav li {
  list-style-type: none;
  float: right;
  display: inline-block;
  margin: 0.5vh 0.5vw;
}

.account-nav li.left {
  float: left;
}

.account-nav li a {
  color: #ca3f44;
  text-decoration: none;
  font-weight: bold;
}

.account-nav li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.account-nav .logged-in,
.account-nav .logged-out,
.account-nav .admin {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  z-index: 20;
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 30%;
  left: 25%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
          box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
  padding: 2vh 4vw;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 90%;
    left: 1%;
  }
}

.popup h2 {
  color: #ca3f44;
}

.popup input {
  color: #47c2a9;
  border: 4px solid #47c2a9;
  width: 80%;
  height: 4vh;
  margin: 1vh 2vw;
  padding-left: 2vw;
  border-radius: 30px;
}

.popup input::-webkit-input-placeholder {
  color: #47c2a9;
  font-weight: bold;
}

.popup input:-ms-input-placeholder {
  color: #47c2a9;
  font-weight: bold;
}

.popup input::-ms-input-placeholder {
  color: #47c2a9;
  font-weight: bold;
}

.popup input::placeholder {
  color: #47c2a9;
  font-weight: bold;
}

.popup input:focus {
  border: 3px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup input.big {
  height: 10vh;
}

.popup button {
  background-color: #47c2a9;
  color: white;
  font-weight: bold;
  margin: 1vh 2vw;
  border: none;
  padding: 1vh 2vw;
  border-radius: 30px;
}

.popup button:hover {
  background-color: #ca3f44;
  cursor: pointer;
}

.popup .content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.popup .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup .close:hover, .popup .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup a {
  float: right;
  font-size: 2em;
  color: #ca3f44;
}

.popup a:hover {
  color: #47c2a9;
}

.popup#popup-account {
  text-align: center;
}

.popup#popup-account h2 {
  text-align: left;
}

.popup#popup-account p:nth-last-child(2) {
  color: #ca3f44;
  font-size: 2em;
}

#create-form {
  background-color: white;
}

#create-form input {
  color: #47c2a9;
  border: 4px solid #47c2a9;
  width: 90%;
  height: 4vh;
  margin: 1vh 2vw;
  padding-left: 2vw;
  border-radius: 30px;
}

#create-form input::-webkit-input-placeholder {
  color: #47c2a9;
  font-weight: bold;
}

#create-form input:-ms-input-placeholder {
  color: #47c2a9;
  font-weight: bold;
}

#create-form input::-ms-input-placeholder {
  color: #47c2a9;
  font-weight: bold;
}

#create-form input::placeholder {
  color: #47c2a9;
  font-weight: bold;
}

#create-form input:focus {
  border: 3px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#create-form input.big {
  height: 10vh;
}

#create-form button {
  background-color: #47c2a9;
  color: white;
  font-weight: bold;
  margin: 1vh 2vw;
  border: none;
  padding: 1vh 2vw;
  border-radius: 30px;
}

#create-form button:hover {
  background-color: #ca3f44;
  cursor: pointer;
}

#feed {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.content {
  width: 80%;
  background-color: white;
  border-radius: 12px;
  color: black;
  margin: 1vh auto;
  overflow: hidden;
}

.content div {
  padding: 1vw 0;
}

.content video {
  width: 100%;
  margin-bottom: -1vw;
}

.content iframe {
  width: 100%;
  height: 40vw;
}

.content h2 {
  padding: 0 1vw;
  color: #47c2a9;
  border-bottom: #47c2a9 2px solid;
}

.content h3 {
  padding: 0 1vw;
  color: #ca3f44;
}

.content a {
  padding: 0;
}

.content a:hover {
  color: #ca3f44;
}

.content a i {
  float: right;
  margin: 1vh;
}

.content h6 {
  margin: 1vw;
  color: rgba(0, 0, 0, 0.5);
}

.content h4,
.content a {
  padding: 1vw;
  color: #ed89a5;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 96%;
  }
}

.content img {
  max-width: 100%;
  overflow: hidden;
}

h1 {
  margin: 1vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 3em;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 1.4em;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.2em;
  }
}

h3 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}

@media screen and (max-width: 700px) {
  h3 {
    font-size: 1.2em;
  }
}

h4 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 400;
}

h6 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 200;
  font-size: 0.7em;
}

p {
  padding: 1vw;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
}

a:hover {
  cursor: pointer;
}

.imgContent {
  width: 80%;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 12px;
  overflow: hidden;
}

.imgContent img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .imgContent {
    width: 96%;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 4vh;
      grid-template-rows: 1fr 4vh;
  padding: 0 2vw;
  background-color: #47c2a9;
  color: white;
  height: auto;
  font-family: acumin-pro-semi-condensed, sans-serif;
  font-weight: 800;
}

footer ul li {
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  color: #ca3f44;
}

footer #footer-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 2em;
}

footer #footer-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 2em;
}

footer #byline {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  text-align: center;
  font-size: 0.7em;
}

@media screen and (max-width: 700px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 4vh;
        grid-template-rows: 1fr 1fr 4vh;
    font-size: 3vw;
  }
  footer #footer-left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  footer #footer-right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  footer #byline {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
}
/*# sourceMappingURL=globalstyle.css.map */