/* Globalt stilark - Alt i denne filen er felles for alle nettstedets sider. */
@import url("https://use.typekit.net/nvi4ogw.css"); /*Importerer fonter lisensert til Adobe Fonts*/
$SRbla: #47c2a9;
$SRrod: #ca3f44;
$SRorange: #e98051;
$SRgul: #f7d15a;

@mixin screen-m {
  @media screen and (max-width: 1000px) {
    //** HUSK Å ENDRE DETTE I index.scss OG JAVASCRIPT
    @content;
  }
}

@mixin screen-s {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin screen-xs {
  @media screen and (max-width: 570px) {
    @content;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: inherit;
  width: 100%;
}

#helesiden {
  /*Klasse for sidens innhold, inkluderer header men ikke footer.*/
  display: flex;
  flex-flow: column;
  width: 100%;
  background: linear-gradient(
    to top,
    $SRrod,
    $SRorange
  ); /* Vertikal overgang fra orange til rød nedover siden. */
  //padding: 0 0 2vw 0;
  z-index: -10;
}

.sidenavbutton {
  position: fixed;
  display: none;
  @include screen-m {
    display: inline;
  }
  color: white;
  top: 30px;
  @include screen-xs {
    top: 20px;
  }
  right: 4vw;
  z-index: 10;
  #sidenavbuttonIcon {
    font-size: 2em;
    @include screen-xs {
      font-size: 1.5em;
    }
    transition: 0.5s;
  }
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: $SRgul;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: acumin-pro-semi-condensed, sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: white;
  ul {
    li {
      list-style-type: none;
      justify-content: space-evenly;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: #ca3f44;
        }
      }
    }
  }
  a {
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*  - Header -    */

header {
  padding: 17px 9px;
  @include screen-xs {
    padding: 1vh 1vw;
    height: 60px;
  }
  position: sticky; /* Fester header til toppen av viewport når man har scrollet ned til den.*/
  top: 0;
  height: 90px;
  transition: 0.2s;
  z-index: 5; /* Sørger for at header ligger foran alle andre elementer. */
  &:not(.scrollHeader) {
    background-color: $SRorange;
  }
  a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 12px;
  }
}

#hovedlogo {
  margin-top: -25px;
  animation: rotation 2s infinite linear; // Roterer vindmøllen
  &:hover {
    // Stopper animasjon ved hover
    animation-play-state: paused;
  }
  @include screen-xs {
    display: none;
  }
}

@keyframes rotation {
  /* Keyframes til rotasjon animasjon */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

#hovedtittel {
  font-family: acumin-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  font-size: 2.5em;
  @include screen-xs {
    font-size: 1.7em;
  }
  &:hover {
    /* Shine effekt på logo ved hover */
    -webkit-mask-image: linear-gradient(
      -75deg,
      rgba(0, 0, 0, 0.6) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
}

@-webkit-keyframes shine {
  /* Keyframes til shine effekt*/
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.toppmeny {
  float: right;
  list-style-type: none;
  margin: 0 1vw;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 800;
  li {
    float: left;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin: 2px;
      &:hover:not(.active) {
        /* Endrer farge på knapp så fremt det ikke er den aktive siden.*/
        background-color: #f7d15a;
        color: black;
        border-bottom: 3px solid #47c2a9;
      }
    }

    &.mobile {
      display: none;
    }

    .active {
      /* Setter farge på knapp hvis siden er aktiv*/
      background-color: $SRbla;
      border-bottom: 3px solid $SRgul;
    }
    @include screen-m {
      &:not(.mobile) {
        display: none;
      }
      &.mobile {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .toppmeny li a {
    float: none;
    display: block;
    text-align: left;
  }
  /*.header-right {
      float: none;
    }*/
}

//** AUTH -----------------------------------------------------

.account-nav {
  position: static;
  background-color: $SRgul;
  margin-block-start: 0;
  margin-block-end: 0;
  @include screen-m {
    display: none;
  }
  li {
    list-style-type: none;
    float: right;
    display: inline-block;
    margin: 0.5vh 0.5vw;
    &.left {
      float: left;
    }
    a {
      color: $SRrod;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .logged-in,
  .logged-out,
  .admin {
    display: none;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 20;
  width: 40%;
  @include screen-s {
    width: 90%;
    left: 1%;
  }
  height: fit-content;
  top: 30%;
  left: 25%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
  padding: 2vh 4vw;
  h2 {
    color: $SRrod;
  }
  input {
    color: $SRbla;
    border: 4px solid $SRbla;
    width: 80%;
    height: 4vh;
    margin: 1vh 2vw;
    padding-left: 2vw;
    border-radius: 30px;
    &::placeholder {
      color: $SRbla;
      font-weight: bold;
    }
    &:focus {
      border: 3px solid white;
      transition: 0.5s;
    }
    &.big {
      height: 10vh;
    }
  }
  button {
    background-color: $SRbla;
    color: white;
    font-weight: bold;
    margin: 1vh 2vw;
    border: none;
    padding: 1vh 2vw;
    border-radius: 30px;
    &:hover {
      background-color: $SRrod;
      cursor: pointer;
    }
  }

  .content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  a {
    float: right;
    font-size: 2em;
    color: $SRrod;
    &:hover {
      color: $SRbla;
    }
  }
  &#popup-account {
    text-align: center;
    h2 {
      text-align: left;
    }
    p:nth-last-child(2) {
      color: $SRrod;
      font-size: 2em;
    }
  }
}

#create-form {
  background-color: white;
  input {
    color: $SRbla;
    border: 4px solid $SRbla;
    width: 90%;
    height: 4vh;
    margin: 1vh 2vw;
    padding-left: 2vw;
    border-radius: 30px;
    &::placeholder {
      color: $SRbla;
      font-weight: bold;
    }
    &:focus {
      border: 3px solid white;
      transition: 0.5s;
    }
    &.big {
      height: 10vh;
    }
  }
  button {
    background-color: $SRbla;
    color: white;
    font-weight: bold;
    margin: 1vh 2vw;
    border: none;
    padding: 1vh 2vw;
    border-radius: 30px;
    &:hover {
      background-color: $SRrod;
      cursor: pointer;
    }
  }
}

//** CONTENT --------------------------------------------------
#feed {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  min-height: 80;
}

.content {
  width: 80%;
  background-color: white;
  border-radius: 12px;
  color: black;
  margin: 1vh auto;
  overflow: hidden;
  div {
    padding: 1vw 0;
  }
  video {
    width: 100%;
    margin-bottom: -1vw;
  }
  iframe {
    width: 100%;
    height: 40vw;
  }
  h2 {
    padding: 0 1vw;
    color: #47c2a9;
    border-bottom: #47c2a9 2px solid;
  }
  h3 {
    padding: 0 1vw;
    color: #ca3f44;
  }
  a {
    padding: 0;
    &:hover {
      color: #ca3f44;
    }
    i {
      float: right;
      margin: 1vh;
    }
  }
  h6 {
    margin: 1vw;
    color: rgba(0, 0, 0, 0.5);
  }
  h4,
  a {
    color: #ed89a5;
    text-decoration: none;
  }
  @include screen-m {
    width: 96%;
  }
  img {
    max-width: 100%;
    overflow: hidden;
  }
}

.noBack {
  color: white;
  background: none;
}

.vindmolleBac {
  width: 100%;
  color: white;
  background: url("../Media/molle.svg");
  background-repeat: repeat;
  background-size: 120px auto;
  background-attachment: fixed;
}

.bigSec {
  height: 80vh;
  display: grid;
  h1 {
    font-size: 4em;
    align-self: flex-end;
    @include screen-m() {
      font-size: 2em;
    }
  }
  h2 {
    color: white;
    font-size: 2em;
    margin-left: 2vw;
    border: none;
    @include screen-m() {
      font-size: 1em;
    }
  }
}

.topBorderW {
  border-top: 4px white solid;
  border-radius: 0;
}

h1 {
  margin: 1vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 2em;
  @include screen-s {
    font-size: 1.7em;
  }
}

h2 {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  @include screen-s {
    font-size: 1.2em;
  }
}

h3 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  @include screen-s {
    font-size: 1.2em;
  }
}

h4 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 400;
}

h6 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 200;
  font-size: 0.7em;
}

p {
  padding: 1vw;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
}

a {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.imgContent {
  width: 80%;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 12px;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
  @include screen-m {
    width: 96%;
  }
}

//** FOOTER ---------------------------------------------------

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4vh;
  padding: 0 2vw;
  background-color: #47c2a9;
  color: white;
  height: auto;
  font-family: acumin-pro-semi-condensed, sans-serif;
  font-weight: 800;
  ul {
    li {
      list-style-type: none;
      justify-content: space-evenly;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #ca3f44;
        }
      }
    }
  }
  #footer-right {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2em;
  }

  #footer-left {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 2em;
  }

  #byline {
    grid-area: 2 / 1 / 3 / 4;
    text-align: center;
    font-size: 0.7em;
  }
  @include screen-s {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4vh;
    font-size: 3vw;
    #footer-left {
      grid-area: 1 / 1 / 2 / 2;
    }

    #footer-right {
      grid-area: 2 / 1 / 3 / 2;
    }

    #byline {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
}
