@import url("https://use.typekit.net/nvi4ogw.css");
$SRbla: #47c2a9;
$SRrod: #ca3f44;
$SRorange: #e98051;
$SRgul: #f7d15a;

html {
  background-color: #e98051;
}

header {
  height: 90px;
  @media screen and (max-width: 570px) {
    height: 60px;
  }
}

#forside {
  position: relative;
  background: linear-gradient(
    45deg,
    rgba(124, 29, 99, 1) 0%,
    rgba(104, 69, 149, 1) 100%
  );
  display: grid;
  grid-template-rows: 60vh 20vh 20vh;
  border-bottom: 1vh solid #f7d15a;
  height: 100%;
  text-align: center;
  z-index: -2;
  img {
    position: fixed;
    width: 30%;
    right: 35%;
    z-index: -1;
    display: block;
    margin: auto;
  }
  #forsidebanner {
    position: fixed;
    top: 35vw;
    //background-color: $SRrod;
    color: white;
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    //z-index: -15;
    h1 {
      margin: 0;
      font-size: 2em;
    }
  }
  #dato {
    position: fixed;
    top: 45vw;
    width: 100%;
    text-align: center;
    z-index: -15;
    grid-area: 2 / 1 / 3 / 2;
    h3 {
      font-family: acumin-pro-wide, sans-serif;
      font-weight: 800;
      color: white;
      z-index: -14;
    }
  }
  a {
    position: fixed;
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    padding: 14px 18px;
    color: white;
    background-color: #47c2a9;
    border-bottom: 3px solid #f7d15a;
    text-decoration: none;
    border-radius: 12px;
    z-index: -15;
    &:hover {
      /* Endrer knappens farger ved hover.*/
      background-color: #f7d15a;
      border-bottom: 3px solid #47c2a9;
      color: black;
    }
  }
}
#mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  z-index: 10;
  #mobilePopup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 20px;
    width: 350px;
    height: fit-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 11;
    h3 {
      border-bottom: #47c2a9 2px solid;
    }
    img {
      width: 30%;
      margin: auto;
    }
    button {
      background-color: black;
      color: white;
      border: 2px solid #47c2a9;
      padding: 5px 3px;
      margin: 5px 0;
    }
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  //** HUSK Å ENDRE DETTE I GLOBALSTYLE OG JAVASCRIPT
  #forside {
    display: none;
  }
  #mobileOverlay {
    visibility: visible;
    #mobilePopup {
      visibility: visible;
    }
  }
}

/*
// Pilanimasjon til høyre:
.scroll-prompt {
  position: absolute; 
  bottom: 15%;
  left: 95%;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.scroll-prompt .scroll-prompt-shape {
  position: relative;
  -webkit-animation: slidedown 2.25s infinite;
  animation: slidedown 2.25s infinite;
}
.scroll-prompt .scroll-prompt-shape:before,
.scroll-prompt .scroll-prompt-shape:after {
  content: "";
  display: block;
  position: absolute;
  width: 3em;
  height: 0.5em;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-border-radius: 0;
  border-radius: 0 0.25em 0.25em 0;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.scroll-prompt .scroll-prompt-shape:before {
  -webkit-transform: scaleX(-1) rotate(-45deg);
  transform: scaleX(-1) rotate(-45deg);
}

.scroll-prompt .scroll-prompt-shape:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
}
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll-prompt {
  .scroll-prompt-arrow-container {
    position: absolute;
    bottom: 5%;
    left: 95%;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  .scroll-prompt-arrow {
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  .scroll-prompt-arrow:last-child {
    animation-direction: reverse;
    margin-top: -6px;
  }
  .scroll-prompt-arrow > div {
    width: 25px;
    height: 25px;
    border-right: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    transform: rotate(45deg) translateZ(5px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(1px);
  }

  20% {
    transform: translateY(2px);
  }

  30% {
    transform: translateY(3px);
  }

  40% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(6px);
  }

  70% {
    transform: translateY(7px);
  }

  80% {
    transform: translateY(8px);
  }

  90% {
    transform: translateY(9px);
  }

  100% {
    transform: translateY(10px);
  }
}
