$SRbla: #47c2a9;
$SRrod: #ca3f44;
$SRorange: #e98051;
$SRgul: #f7d15a;

//** Definerer fargekombinasjonen til logoen fra hver revy som variabler, brukt i hver av spotlight-sidene og TidligereRevyer.html
#SR2022 {
  --color1: white;
  --color2: black;
}

#Skjegget-i-postkassa {
  --color1: #46378a; /* --color1 = Bakgrunnsfarge */
  --color2: #fdc300; /* --color2 = Forgrunnsfagre */
}

#Abort-mission {
  --color1: #a7cfe8;
  --color2: #bf3d30;
}

#Throwback {
  --color1: #fd6502;
  --color2: #d2e3de;
}

#Shitstorm {
  --color1: #fbb553;
  --color2: #153c41;
}

#I-vinden {
  --color1: #93ddde;
  --color2: #ff3a0e;
}

@mixin screen-m {
  @media screen and (max-width: 1000px) {
    //** HUSK Å ENDRE DETTE I index.scss OG JAVASCRIPT
    @content;
  }
}

@mixin screen-s {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin screen-xs {
  @media screen and (max-width: 570px) {
    @content;
  }
}

//**      /revyoversikt.html:
#revyoversikt {
  /* Definerer en flexbox der elementene kan flyte og fordele seg fritt. */
  display: flex;
  flex-flow: wrap;
  margin-bottom: 5vh;
}

.revyItem {
  text-align: center;
  width: 400px;
  margin: 2vw auto;
  border-radius: 12px;
  margin-bottom: 1vh;
  box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
  transition: all 0.5s ease; /* Gjør animasjonen rolig på vei tilbake*/
  z-index: 1; /* Plasserer foran bakgrunn men bak header.*/
  background-color: var(
    --color1
  ); /* Bruker variabler definert nederst til å bestemme farger.*/
  color: var(--color2);
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03); /* Beveger elementet litt opp og zoomer inn */
    transition: all 0.4s ease; /* Gjør animasjonen rolig */
  }
  h2 {
    font-size: 2em;
    margin: 0 0 1vw 0;
  }
  &:hover .revyButton {
    opacity: 1;
  } /* Gjør knappen over div-elementet synlig ved hover over div-element. */
}

//TODO Gjør at alle knappene er plasert likt på boksene. Nå har de forskjellig høyde.

.revyButton {
  display: block; /* Plasserer knappen i midten av div element, over bildet. > */
  position: relative;
  top: -250px; /* < */
  z-index: 4;
  width: 30%;
  margin: auto;
  padding: 14px 16px;
  border-radius: 12px;
  background-color: var(
    --color2
  ); /* Bruker variabler definert nederst til å bestemme farger.*/
  color: var(--color1);
  border-bottom: 3px solid var(--color1);
  text-align: center;
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
  opacity: 0; /* Skjult frem til hover */
  &:hover {
    /* Endrer knappens farger ved hover, bruker variabler definert nederst til å bestemme farger.*/
    background-color: var(--color1);
    color: var(--color2);
    border-bottom: 3px solid var(--color2);
  }
}
.revyicon {
  width: 100%;
  display: block;
  margin: auto;
}

//**      abort-mission.html, i-vinden.html, shitstorm.html, throwback.html:
header.orange {
  background-color: #e98051; /*Setter bakgrunnsfargen til header til en bestemt verdi. Skal være orange fra starten av, ikke fade inn som på de andre sidene.*/
}
.revy-spotlight {
  background-color: var(--color1);
  color: var(--color2);
  //display: flex;
  flex-flow: column;
  display: flex;
  width: 100%;
  padding: 0 0 2vw 0;
  z-index: auto;
  .revyBanner {
    margin-top: 1vh;
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 1fr 2fr 1fr 10%;
    img {
      width: 100%;
      grid-area: 1 / 3 / 2 / 4;
    }
    .tilbakeknapp {
      grid-area: 1 / 2 / 2 / 3;
      width: fit-content;
      height: fit-content;
      font-family: acumin-pro-condensed, sans-serif;
      font-weight: 800;
      padding: 14px 16px;
      text-decoration: none;
      margin: 2px;
      background-color: var(--color2);
      color: var(--color1);
      border-radius: 12px;
      &:hover {
        background-color: var(--color1);
        color: var(--color2);
      }
    }
    .styreknapp {
      grid-area: 1 / 4 / 2 / 5;
      width: fit-content;
      height: fit-content;
      font-family: acumin-pro-condensed, sans-serif;
      font-weight: 800;
      justify-self: flex-end;
      padding: 14px 16px;
      text-decoration: none;
      margin: 2px;
      background-color: var(--color2);
      color: var(--color1);
      border-radius: 12px;
      &:hover {
        background-color: var(--color1);
        color: var(--color2);
      }
    }
  }
  .content h2 {
    // Bestemmer nye farger til overskriften i content-diver
    color: var(
      --color2
    ); /* Bruker variabler definert øverst til å bestemme farger.*/
    border-bottom: var(--color2) 2px solid;
  }
  &#Throwback .content h2 {
    /*Endrer Throwback til farge 1 da Throwback sin farge 2 er for lys til hvit bakgrunn.*/
    color: var(--color1);
    border-bottom: var(--color1) 2px solid;
  }
}

.youtubeWindow {
  /* Bygger inn og stilerer video fra Youtube >*/
  width: 80%;
  height: 50vh;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*      /meldDegPa.html:    */
#pameldingStengt {
  text-align: center;
  font-size: 1.5em;
  color: #ca3f44;
}

/*      /revystyret.html:   */
#styrenav {
  display: flex;
  a {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    border-radius: 12px;
    padding: 12px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 25px;
    font-family: acumin-pro, sans-serif;
    color: var(--color1);
    background-color: var(--color2);
    margin: 1vh 1vw;
    @include screen-xs() {
      font-size: 1em;
      padding: 5px;
    }
    &:hover,
    &.active {
      color: var(--color2);
      border: var(--color2) 2px solid;
      background-color: var(--color1);
    }
  }
}
#roller {
  /* Definerer flexbox vertikalt og lager dermed linjer til hvert lederpar*/
  display: flex;
  flex-flow: column;
  div {
    display: flex; /* Definerer flexbox hørisontalt og fordeler elementer i hver linje*/
    width: 100%;
    font-size: 1.4em;
    @include screen-s() {
      font-size: 1em;
    }
    img {
      border-radius: 12px;
      margin: auto 1vw;
      justify-self: flex-end; /* Flytter bildene til høyre i raden.*/
      height: 30vh;
      object-fit: cover;
      @include screen-s() {
        height: 20vh;
      }
    }
  }
  & > div:nth-child(odd) {
    /* Setter bakgrunnsfargen til annenhver linje til lysegrå.*/
    background-color: rgba(0, 0, 0, 0.2);
  }
  .rolletekst {
    display: block; /* Samler all teksten hver rad til ett block element, blir enklere å håndtere i flexbox.*/
    margin: 0 1vw;
    padding: 0;
  }
}
