#revyoversikt{ /* Definerer en flexbox der elementene kan flyte og fordele seg fritt. */
    display: flex;
    flex-flow: wrap;
}

.revyItem{
    text-align: center;
    width: 400px;
    margin: 2vw auto;
    border-radius: 12px;
    margin-bottom: 1vh;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
    transition: all .5s ease; /* Gjør animasjonen rolig på vei tilbake*/
    z-index: 1; /* Plasserer foran bakgrunn men bak header.*/
    background-color: var(--color1); /* Bruker variabler definert nederst til å bestemme farger.*/
    color: var(--color2);
}

.revyItem:hover {
    transform: translate3D(0,-1px,0) scale(1.03); /* Beveger elementet litt opp og zoomer inn */
    transition: all .4s ease; /* Gjør animasjonen rolig */
}

.revyItem h2{
    font-size: 2em;
    margin: 0 0 1vw 0;
}

.revyButton{
    display: block; /* Plasserer knappen i midten av div element, over bildet. > */
    position: relative;
    top: -300px; /* < */
    z-index: 4;
    width: 30%;
    margin: auto;
    padding: 14px 16px;
    border-radius: 12px;
    background-color: var(--color2); /* Bruker variabler definert nederst til å bestemme farger.*/
    color: var(--color1);
    border-bottom: 3px solid var(--color1);
    text-align: center;
    text-decoration: none;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, 0.596);
    opacity: 0; /* Skjult frem til hover */
}

.revyItem:hover .revyButton{opacity: 1} /* Gjør knappen over div-elementet synlig ved hover over div-element. */

.revyButton:hover{ /* Endrer knappens farger ved hover, bruker variabler definert nederst til å bestemme farger.*/
    background-color: var(--color1);
    color: var(--color2);
    border-bottom: 3px solid var(--color2);
}

.revyicon{
    width: 100%;
    display: block;
    margin: auto;
}

/* Definerer fargekombinasjonen til logoen fra hver revy som variabler*/
#SR2021{
    --color1: white; /* --color1 = Bakgrunnsfarge */
    --color2: black; /* --color2 = Forgrunnsfagre */
}

#Abort-mission{
    --color1: #A7CFE8;
    --color2: #BF3D30;
}

#Throwback{
    --color1: #FD6502;
    --color2: #D2E3DE;
}

#Shitstorm{
    --color1: #FBB553;
    --color2: #153C41;
}

#I-vinden{
    --color1: #93DDDE;
    --color2: #FF3A0E;
}